<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="uZoneTec">
<title>HIT RCMS</title>
<link rel="shortcut icon" href="content/favicon.ico" />
<link rel="stylesheet" href="content/jquery.tablesorter.min.css">
<link rel="stylesheet" href="content/bootstrap.min.css" />
<link rel="stylesheet" href="content/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="content/uzone.css">
<script type="text/javascript" src="src/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="src/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="src/bootstrap.min.js"></script>
<script type="text/javascript" src="src/numeral/numeral.min.js"></script>
<script type="text/javascript" src="src/moment.min.js"></script>
<script type="text/javascript" src="src/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="src/vue.min.js"></script>
<script type="text/javascript" src="src/vue-resource.min.js"></script>
<script type="text/javascript" src="src/uzone.js"></script>
<script type="text/javascript" src="src/uzone.controls.js"></script>
<script type="text/javascript" src="src/echarts.min.js"></script>

<body>
    <div id="app">
        <div v-html='htmlData'></div>
        <div :z="change|fliter1">{{test((function(){ setInterval(function(){ return Math.random()},1023); return 3 })() )}}
        </div>
        <div :class='[{active:change},"R"]'>chassTest</div>
        <cao class="template"></cao>
        <!--<div>{{filt|fter}}</div>-->
        <div v-for="(val,key,index) in item">{{index}}--{{key}}---{{val}}--</div>
        <span v-for="i in 10">{{i}}</span>
        <br />
        <div v-for="(val,key,index) in item3">{{index}}--{{key}}---{{val}}--</div>
        <span v-for="key in item2"> {{key.val}}</span><br>
        <span v-for="i in item2Filter">  {{i.val}}</span><br>
        <button type="button" class="btn btn-default" @click="targ">button</button>
        <hai scope="props"><strong>test</strong><em>{{props.text}}</em></hai>
    </div>
</body>
<script>
    var child = {
        template: '<div><slot text="hello"></slot>template</div>'
    }
    Vue.component(
        'hai', child
    )
    Vue.component(
        'cao', {
            template: '<div>component</div>'
        }

    )

    var app = new Vue({
        el: '#app',
        data: {
            htmlData: '<strong>hello</strong>',
            appA: 'test1',
            change: 5,
            filt: 2,
            item: {
                message: 23,
                id: 89
            },
            item2: [{
                'val': 123
            }, {
                'val': 345
            }, {
                'val': 678
            }],
            item3: {

            }
        },
        computed: {
            item2Filter: function() {
                return this.item2.filter(function(v) {
                    return v.val % 2 == 1
                })
            }
        },
        methods: {
            test: function(v) {
                return v + 3
            },
            targ: function(v) {
                alert(v.target.tagName)
            }
        },
        filters: {
            fliter1: function(v) {
                return v + 5
            },
            fter: function() {
                return Math.random()
            }
        },
        mounted: function() {
            var self = this
            setInterval(function() {
                self.change++
            }, 1024)
        }
    })
</script>

</html>